body{
  font-family: cursive;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90vh;
  padding: 0;
  margin: 0;
}
.refresh{
  color: red;
}
.button{
  background-color: aqua;
  border: none;
  cursor: pointer;
  font-family: cursive;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
}