body{
  font-family: cursive;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90vh;
  padding: 0;
  margin: 0;
}
.refresh{
  color: red;
}
.button{
  height: 250px;
  width: 250px;
  padding: 50px;
  margin: 10px;
  background-color: aqua;
  border: none;
  cursor: pointer;
  font-family: cursive;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
}
.joke-button{
  height: 250px;
  width: 250px;
  padding: 50px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-family: cursive;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  background-color: red;
  color: white;
}
.container1{
  display: flex;
}
.container{
  width: 350px;
  margin: 10px;
}
.answer{
  background-color: aqua;
  border: none;
  cursor: pointer;
  font-family: cursive;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  padding: 10px;
}